.servicos img{
    height:300px;
    width:100%;
}

.servicos{
    padding:20px;
}

.carrossel img{
    height:600px;
    width:100%;
    
}
                                  
.sociais{
    padding:20px;
}

.sociais img{
    width: 50px;
    height:50px;
}

.footer{
    background-color:#ccc;
    padding:30px;
}

.menu2 a{
    color:#000;
}

.menu a{
  color:#000; 
  font-size: 20px;
  

}

.menu{
    background-color: #ccc;

}

.login{
    margin-top: 50px;
}

.imgqs img{
    width:100%;
    height:15rem;
}

.imagem img{
    height:300px;
    width:100%;
}

.pecas img{
    height:50%;
}


.imagens img{
    width:100%;
    height:300px;
}

.imagens{
    padding:20px;
}

.conteudo{
    padding:20px;
}

.conteudo img{
    width:100%;
    height:350px;
}
